<% @stats = settings.mzw.info_hash[:player] %>
<% @cv = settings.mzw.info_hash[:clairvoyance] %>
<div class="stats">
  <div>Turn: <%= @stats[:turns] %></div>
  <div>Moves: <%= @stats[:moves] %></div>
  <div>Gems: <%= @stats[:inventory][:gems] %> of <%= settings.mzw.game_settings[:gems_required] %>
  </div>
  <div>Rest in <%= @stats[:rest_countdown] %> turns</div>
</div>
<% unless @cv.nil? %>
  <div class="clairvoyance">
  <% [:grue, :grue_path, :goal, :goal_path, :loot].each do |vision| %>
    <div class="<%= vision.to_s  %>">
      <%= @cv[vision] %>
    </div>
  <% end %>
  </div>
<% end %>