<% @stats = settings.mzw.info_hash[:player] %>
<% @cv = settings.mzw.info_hash[:clairvoyance] %>
<div class="stats">
  <div>Turn: <%= @stats[:turns] %></div>
  <div>Moves: <%= @stats[:moves] %></div>
  <div>Gems: <%= @stats[:inventory][:gems] %> of <%= settings.mzw.game_settings[:gems_required] %>
  </div>
  <div>Rest in <%= @stats[:rest_countdown] %> turns</div>
</div>
<% unless @cv.nil? %>
  <div class="clairvoyance">
  <% [:grue, :grue_path, :goal, :goal_path, :loot].each do |vision| %>
    <% if @cv[vision].is_a?(Hash) %>
      <div class="<%= vision.to_s  %>">
        <%= @cv[vision][:msg] %>
        <ol>
          <% @cv[vision][:list].each do |x| %>
            <li><%= x.to_s.capitalize %></li>
          <% end %>
        </ol>
      </div>
    <% else %>
      <div class="<%= vision.to_s  %>">
        <%= @cv[vision] %>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>