<% @stats = settings.mzw.info_hash[:player] %>
<% @cv = settings.mzw.info_hash[:clairvoyance] %>
<div class="stats">
  <div>Turn: <%= @stats[:turns] %></div>
  <div>Moves: <%= @stats[:moves] %></div>
  <div>Gems: <%= @stats[:inventory][:gems] %> of <%= settings.mzw.settings[:gems_required] %>
  </div>
  <div>Rest in <%= @stats[:rest_countdown] %> turns</div>
</div>
<% unless @cv.nil? %>
  <div class="clairvoyance">
    <div class="grue_room">
      <%= @cv[:grue] %>
    </div>
    <div class="grue_path">
      <%= @cv[:grue_path] %>
    </div>
    <div class="goal_room">
      <%= @cv[:goal] %>
    </div>
    <div class="goal_path">
      <%= @cv[:goal_path] %>
    </div>
    <div class="loot">
      <%= @cv[:loot] %>
    </div>
  </div>
<% end %>