- stats = settings.mzw.info_hash[:player]
- cv = settings.mzw.info_hash[:clairvoyance]

.stats
  .turn
    Turn: #{stats[:turns]}
  .moves
    Moves: #{stats[:moves]}
  .gems
    Gems: #{stats[:inventory][:gems]} of 
    #{settings.mzw.game_settings[:gems_required]}
  .rest_cd
    Rest in #{stats[:rest_countdown]} turns

- unless cv.nil?
  .clairvoyance
    - [:grue, :grue_path, :goal, :goal_path, :loot].each do |vision|
      - if cv[vision].is_a?(Hash)
        %div{:class=>vision.to_s}
          = cv[vision][:msg]
          %ol
            - cv[vision][:list].each do |x|
              %li= x.to_s.capitalize
      - else
        %div{:class=>vision.to_s}
          = cv[vision]
