<form id="settingsForm" action="/" method="post">
  <!-- this form is a two column table; labels on left, inputs on right. -->  
  <table>
    <% loop_hash = {randomize_player_start: :player, 
                    randomize_grue_start:   :grue,
                    randomize_goal:         :goal } %>
    <% loop_hash.each do |cb_id, select_id| %>
      <tr>
        <td>
          <label>
            <%= cb_id.to_s.tr("_"," ").capitalize %>
          </label>
        </td>
        <td class="<%= select_id.to_s%>">
          <input 
            type="checkbox" 
            name="<%= cb_id.to_s %>"
            class="room_setting_cb" 
            <%= 'checked="checked"' if settings.mzw.game_settings[cb_id] %>
          >
        </td>
      </tr>

      <tr>
        <td>
          <label>
            <%= "#{select_id.to_s.capitalize} room " %>
          </label>
        </td>
        <td class="<%= select_id.to_s%>">
          <select 
            name="<%= select_id.to_s + "_room" %>" 
            class="room_select" 
            <%= 'disabled="disabled"' if settings.mzw.game_settings[cb_id] %>
          >
            <% settings.mzw.map.rooms.each_key do |key| %>
              <option 
                value="<%= key.to_s %>" 
                class="<%= key.to_s.delete(' ') %>"
                <%= 'selected="selected"' if settings.mzw.map.rooms[key].flags[select_id] %>
              >
                <%= key.to_s.capitalize %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        Random gems
      </td>
      <td>
        <input 
          type="checkbox" 
          name="random_gems"
          class="random_gems_cb" 
          <%= 'checked="checked"' if settings.mzw.game_settings[:random_gems] %>
        >
      </td>
    </tr>
    <tr>
      <td>
        Random gem odds:
      </td>
      <td>
        1 in <input
                type="number" 
                name="random_gem_chance"
                class="random_gem_chance"
                min=1 
                max=100 
                value="<%= settings.mzw.game_settings[:random_gem_chance]  %>"
                <%= "disabled='disabled'" unless settings.mzw.game_settings[:random_gems] %>
              >
      </td>
    </tr>
    <tr>
      <td>
        Gems required
      </td>
      <td>
        <input 
          type="number"
          name="gems_required" 
          min=1 
          max=100 
          value="<%= settings.mzw.game_settings[:gems_required]  %>"
          >
      </td>
    </tr>
      <tr>
      <td>
        Turns between rest
      </td>
      <td>
        <input 
          type="number" 
          name="turns_between_rest"
          min=1 
          max=100 
          value="<%= settings.mzw.game_settings[:turns_between_rest]  %>"
        >
      </td>
    </tr>

    <!-- checkboxes for player hints (grue sense, gem sense, etc) -->
    <% settings.mzw.player.settings.each_key do |setting| %>
      <tr>
        <td>
          <label>
            <%= setting.to_s %>
          </label>
        </td>
        <td>
          <input 
            type="checkbox" 
            name="<%= setting.to_s %>"
            class="player_hint_cb" 
            <%= 'checked="checked"' if settings.mzw.player.settings[setting] %>
          >
        </td>
      </tr>
    <% end %>
  </table>
  <button type="submit">Submit</button>
</form>
